{% macro question(quest) %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ quest.title }}</h3>
        </div>
        <div class="panel-body">
            {{ quest.descr }}
        </div>
        {% if quest.verdict is not empty %}<div class="panel-footer">{{ quest.verdict }}</div>{% endif %}
    </div>
{% endmacro %}
